---
import Layout from '../layouts/Layout.astro';
import Starfield from '../components/Starfield.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
import Singles from '../components/Singles.astro';
import Upcoming from '../components/Upcoming.astro';
import Shop from '../components/Shop.astro';
import About from '../components/About.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
import Cart from '../components/Cart.astro';
---

<Layout>
  <Starfield />
  <Nav />
  <Hero />
  <div class="divider"></div>
  <Singles />
  <Upcoming />
  <Shop />
  <About />
  <Contact />
  <Footer />
  <Cart />

    <script is:inline src="/petites-etoiles/scripts/main.js"></script>
</Layout>
